button {
    background-color: #008ae6;
    border-radius: 10px;
    border: solid;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

button:disabled {
    background-color: #005c99;
    color: #00416d;
}

a.button-text {
    color: black;
}

div.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    scrollbar-arrow-color: #008ae6;
}

body {
    margin: 0px;
    background-color: #00416d;
}

div.track {
    margin: 10px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.tracks {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img.trackimage {
    width: 100px;
    display: flex;
}

div.no-tracks {
    visibility: hidden;
    height: 0px;
    background-color: rgb(180, 0, 0);
    display: flex;
    color: white;
    font-weight: bold;
}

text.no-track-available {
    margin: 5px;
}

div.displayed-tracks-per-page {
    display: flex;
    justify-content: end;
    margin: 5px;
    margin-right: 20px;
}

div.bottom {
    background-color: #008ae6;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: 2;
    border-top: 2px solid #005c99;
}

div.top {
    background-color: #008ae6;
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    border-bottom: 2px solid #005c99;
}

div.theme-filter {
    display: flex;
    justify-content: center;
}

a#button {
    margin: 5px;
}

button#disabled-button {
    margin: 5px;
}

button#button {
    margin: 5px;
}

div.empty {
    background-color: rgb(180, 0, 0);
    display: flex;
    color: white;
    font-weight: bold;
}

div.real-time {
    display: flex;
    justify-content: start;
    margin: 5px;
    margin-right: 20px;
}

div.no-results {
    display: flex;
}

div.lack-of-themes {
    background-color: rgb(219, 179, 0);
    display: flex;
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
}

text#noresult {
    color: white;
}

h2 {
    margin: 0px;
}

iframe.news-page {
    display: none;
    max-width: 600px;
    width: 600px;
    height: 654px;
    border: 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
}

img.postimage {
    width: 240px;
    max-height: 134.63px;
    max-width: 240px;
    min-height: 134.63px;
    min-width: 240px;
}

div.post {
    background-color: #008ae6;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: row;
}

div.posts {
    display: flex;
    flex-wrap: wrap;
}

div.duration {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    margin-left: 194px;
    margin-top: 112px;
    border-radius: 5px;
}

text.duration {
    margin: 5px;
}

div.post-text {
    margin-left: 10px;
    margin-right: 10px;
}

svg#yt-icon {
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

button.view-on-yt-button {
    display: flex;
    align-items: center;
}

div.link {
    max-width: 168px;
    display: flex;
    align-items: center;
}

div.member-only-header {
    background-color: rgb(43, 166, 64);
    display: flex;
    align-items: center;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.post-content {
    display: flex;
}

div.post {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

text.member-only {
    margin: 5px;
}

div.member-only-icon {
    width: 24px;
    height: 24px;
    margin: 4px;
}

button.member-only-learn-more-button {
    background-color: rgb(43, 166, 64);
    color: white;
}

div.member-only-learn-more {
    background-color: rgb(43, 166, 64);
    position: absolute;
    text-align: center;
    display: none;
    align-items: start;
    flex-direction: column;
    width: auto;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
}

div.member-only-learn-more-title {
    display: flex;
    text-align: left;
    min-width: 100%;
}

button#button-close {
    margin-left: auto;
}

div#buttons-yt-more {
    display: flex;
}

button#button-more-45434146-5220-5645-4541-4c204f462046 {
    margin: 5px;
    display: flex;
    align-items: center;
}

button#button-less-45434146-5220-5645-4541-4c204f462046 {
    margin: 5px;
    display: none;
    align-items: center;
}

div#more-details-45434146-5220-5645-4541-4c204f462046 {
    display: none;
    flex-direction: column;
}

div.track-id-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

div.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.center {
    display: flex;
    flex-direction: column;
}

input.button {
    background-color: #008ae6;
}

input.button:disabled {
    background-color: #005c99;
    color: #00416d;
}

div.show-hide-news {
    display: flex;
    flex-direction: column;
}

input#hide-news {
    display: none;
    border-radius: 10px;
}

button.sub-button {
    display: flex;
    background-color: red;
    align-items: center;
    color: white;
    border-color: red;
}

button#button-more-73627553-7263-6269-6520-746f2043686f {
    margin: 5px;
    display: flex;
    align-items: center;
}

button#button-less-73627553-7263-6269-6520-746f2043686f {
    margin: 5px;
    display: none;
    align-items: center;
}

div#more-details-73627553-7263-6269-6520-746f2043686f {
    display: none;
    flex-direction: column;
}

img.icon {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 110px;
}

a.description-link {
    border: 1px solid black;
    color: black;
    background-color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    font-size: 13px;
}

button#button-more-72726f5a-206f-4348-5232-206163636964 {
    margin: 5px;
    display: flex;
    align-items: center;
}

button#button-less-72726f5a-206f-4348-5232-206163636964 {
    margin: 5px;
    display: none;
    align-items: center;
}

div#more-details-72726f5a-206f-4348-5232-206163636964 {
    display: none;
    flex-direction: column;
}

div.thumbnail-hover {
    background-color: rgba(0, 0, 0, 0);
    width: 240px;
    height: 134.63px;
    max-width: 240px;
    max-height: 134.63px;
    position: absolute;
}

div.play {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 134.63px;
    max-width: 240px;
    max-height: 134.63px;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    flex-direction: column;
}

a.link-72726f5a-206f-4348-5232-206163636964 {
    background-color: rgba(0, 0, 0, 0);
    width: 240px;
    height: 134.63px;
    min-width: 240px;
    max-width: 240px;
    max-height: 134.63px;
    min-height: 134.63px;
    position: absolute;
    border-radius: 10px;
}

svg#play-button {
    width: 48px;
    height: 48px;
}

div.video-post {
    display: flex;
}

img {
    border-radius: 10px;
}

input#show-news {
    border-radius: 10px;
}

video {
    width: 100%;
    height: auto;
    max-height: auto;
    border-radius: 10px;
    max-width: 600px;
}

a.link-45434146-5220-5645-4541-4c204f462046 {
    background-color: rgba(0, 0, 0, 0);
    width: 240px;
    height: 134.63px;
    min-width: 240px;
    max-width: 240px;
    max-height: 134.63px;
    min-height: 134.63px;
    position: absolute;
    border-radius: 10px;
}

div#playvideo-72726f5a-206f-4348-5232-206163636964 {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 360px;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    flex-direction: column;
}

svg.play {
    width: 64px;
    height: 64px;
}

img#video-thumbnail {
    width: 100%;
    height: 100%;
    transition: all 1s;
}

div.video-play-content {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 360px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:949px) {
    div.video-play-content {
        margin: 0%;
        grid-area: videoplaycontent;
        max-width: 600px;
    }

    div.video.desc,
    div[post-content] {
        margin-left: auto;
        max-width: none !important;
    }

    div[video-play] {
        flex-direction: row !important;
        display: grid;
        justify-items: end;
        gap: 20px;
        grid-template-areas:
            'videoplaycontent videodesc';
    }

    div.video.desc {
        
        grid-area: videodesc;
    }
}

@media screen and (max-width:949px) {}

div.video-desc {
    min-width: 200px;
    width: 100%;
}

div.video-play-content-embed {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: none;
    border-radius: 10px;
    justify-content: center;
}

iframe#video-embed {
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: auto;
    border-radius: 10px;
}

div.video-play {
    max-width: 600px;
}

div.video-player {
    display: flex;
    justify-content: center;
}

div#qr-code-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    position: -webkit-sticky;
    top: 0;

}

h1.qr-code-content-top-text {
    color: #fff;
    width: 100%;
    margin: 0%;
}

h1[class="qr-code-content-close-button-top-text"] {
    color: #fff;
    margin: 0px;
}

div.qr-code-content-top {
    display: flex;
    margin-left: 10px;
}

div.qr-code-scan-me {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

button.qr-code-content-top-close-button {
    margin: 0%;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 200ms;
    padding-left: 20px;
    padding-right: 20px;
    border: unset;
}

img.qr-code {
    width: 180px;
    height: 180px;
}

[title="Click to download track"] {
    border: 1px solid #fff;
    padding-inline: 5px;
    color: #fff;
    transition: all 200ms;
}

[title="Click to download track"]:hover{
    background-color: #fff;
    color: blue;
}

div#track-text-item {
    margin: 3px;
}

div#loading {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    transition: all 500ms;
    transition-delay: 100ms;
}

pre#text-loading {
    transition: all 500ms;
    transition-delay: 100ms;
}

div#more-details-e72fd978-b077-bd92-9800-24dca4e0f754 {
    display: none;
    flex-direction: column;
}

button#button-more-e72fd978-b077-bd92-9800-24dca4e0f754 {
    margin: 5px;
    display: flex;
    align-items: center;
}

button#button-less-e72fd978-b077-bd92-9800-24dca4e0f754 {
    margin: 5px;
    display: none;
    align-items: center;
}

[class="link-arrow"] {
    margin: 0px;
}

[class="link-arrow-small"] {
    margin: 0px;
    font-size: 16px;
}

[class="link-arrow"],
[class="link-arrow-small"] {
    margin-inline-end: 3px;
}

div[class="news"] {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    min-height: auto;
    max-height: none;
}

div.news {
    grid-area: news;
}

div.top {
    grid-area: header;
    max-height: 113, 88px;
}

div.center {
    grid-area: main;
}

div.bottom {
    grid-area: footer;
}

div.main-content {
    grid-template-areas:
        'header header header news'
        'main main main news'
        'main main main news'
        'footer footer footer news';
}

@media screen and (max-height:641px) {

    div.news,
    iframe.news-page {
        height: 641px;
    }
}

@media screen and (max-width:1014px) {
    div.title {
        flex-direction: column;
    }
}

@media main-content and (max-width:962px) {
    div.page-select {
        display: none;
    }
}

@media screen and (max-width:750px) {
    div.track-id-content {
        flex-direction: column-reverse;
    }

    div.news {
        min-width: 100% !important;
    }

    iframe.news-page {
        width: 100% !important;
        max-width: none;
    }
}

.no-connection{
    
    background-color: rgb(180, 0, 0);
    display: flex;
    color: white;
    font-weight: bold;
}

iframe.yt-video-embed{
    min-height: 337px;
}

div.js-none{
    position: absolute;
    background-color: #e0e0e0;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
}

div.no-js-icon{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

svg.err-icon{
    fill: rgb(66, 66, 66) !important;
}

@media screen and (max-width:550px){
    div.js-none{
        flex-direction: column;
    }
    div.no-js-icon{
        width: 150px;
        height: 150px;
        margin: 0%;
    }
}

.track-text-item{
    display: flex;
    align-content: center;
}

.track-name{
    display: flex;
    flex-direction: row;
}

@media (prefers-color-scheme: dark){
    button {
        color: #fff;
        background-color: #252525;
    }

    button:disabled {
        background-color: #636363;
        color: #818181;
    }

    a.button-text {
        color: rgb(255, 255, 255);
    }

    body {
        background-color: #202020;
    }

    div.no-tracks {
        background-color: rgb(255, 120, 120);
        color: rgb(0, 0, 0);
    }

    div.bottom {
        color: #fff;
        background-color: #000000;
        border-top: 2px solid #3d3d3d;
    }

    div.top {
        color: #fff;
        background-color: #000000;
        border-bottom: 2px solid #3d3d3d;
    }

    div.empty {
        background-color: rgb(255, 120, 120);
        color: rgb(0, 0, 0);
    }

    div.lack-of-themes {
        background-color: rgb(255, 230, 120);
        color: rgb(0, 0, 0);
    }

    div.post {
        background-color: #000;
        color: white;
    }

    div.member-only-header {
        color: #000;
        background-color: rgb(93, 255, 120);
    }

    button.member-only-learn-more-button {
        background-color: rgb(93, 255, 120);
        color: rgb(0, 0, 0);
    }

    div.member-only-learn-more {
        background-color: rgb(93, 255, 120);
        color: #000;
    }

    input.button {
        color: #fff;
        background-color: #252525;
    }
    
    input.button:disabled {
        background-color: #636363;
        color: #818181;
    }

    button.sub-button {
        background-color: rgb(255, 120, 120);
        color: rgb(0, 0, 0);
        border-color: rgb(255, 120, 120);
    }

    a.description-link {
        border: 1px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }

    div#loading {
        background-color: rgb(41, 41, 41);
    }
    
    pre#text-loading {
        color: #fff;
    }

    div.js-none{
        background-color: #202020;
        color: #fff;
    }
    
    svg.err-icon{
        fill: rgb(199, 199, 199) !important;
    }
}

div#more-details-40ec37db-8abb-9b27-515f-3b9eb52b181d {
    display: none;
    flex-direction: column;
}

button#button-more-40ec37db-8abb-9b27-515f-3b9eb52b181d {
    margin: 5px;
    display: flex;
    align-items: center;
}

button#button-less-40ec37db-8abb-9b27-515f-3b9eb52b181d {
    margin: 5px;
    display: none;
    align-items: center;
}

div[empty]{
    display: none;
}